.slds-box {
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    padding: 1rem;
}

.slds-theme_shade {
    background-color: #f3f2f2;
}

.slds-border_bottom {
    border-bottom: 1px solid #dddbda;
}

.slds-border_bottom:last-child {
    border-bottom: none;
}
